@font-face {
  font-family: "PT Sans";
  src: url("./fonts/PTS55F.ttf");
  font-weight: normal;
}

@font-face {
  font-family: "PT Sans";
  src: url("./fonts/PTS75F.ttf");
  font-weight: bold;
}

html {
  font-size: 16px;
  font-family: "PT Sans";
  color: #293241;
}

@media screen and (min-width: 520px) {
  html {
    font-size: 18px;
  }
}

body {
  margin: 0 auto;
  padding: 0 1.3335rem;
  max-width: 1800px;
}

@media screen and (min-width: 520px) {
  body {
    padding: 0 2.667rem;
  }
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: -1.3335rem;
  margin-right: -1.3335rem;
  padding: 1.3335rem 1.3335rem;
  border-bottom: 0.13rem solid #d4d4d4;
}

nav .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav .logo img {
  margin-left: -0.38rem;
  width: 2.667rem;
}

nav .logo span {
  margin-left: 1.00038rem;
}

nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  display: none;
  margin-left: 1.3335rem;
}

nav ul .hero {
  display: unset;
  padding: 0.50019rem 1.00038rem;
  border: 0.13rem solid #d4d4d4;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: center;
      align-self: center;
}

nav ul .hero img {
  margin-right: 1.00038rem;
  width: 1.3rem;
}

@media screen and (min-width: 520px) {
  nav {
    margin-left: -2.667rem;
    margin-right: -2.667rem;
    padding: 1.3335rem 2.667rem;
  }
}

@media screen and (min-width: 1100px) {
  nav ul li {
    display: unset;
  }
}

a {
  color: #293241;
  text-decoration: none;
}

a:hover {
  color: #ee6c4d;
}

p {
  line-height: 1.9;
  max-width: 32.1rem;
  margin-top: 0;
  margin-bottom: 1.00038rem;
}

p:last-child {
  margin-bottom: 0;
}

h1 {
  margin-top: -1.3335rem;
  margin-bottom: 0;
  font-size: 7.9vw;
  line-height: 1.15;
  letter-spacing: 0.05rem;
}

h2 {
  margin: 1.3335rem 0;
  font-size: 7.33vw;
  letter-spacing: 0.06rem;
}

h3 {
  max-width: 464px;
  color: #a3a3a3;
  font-weight: normal;
  margin-top: 39px;
  margin-bottom: 0;
  line-height: 1.7;
  font-size: 16px;
  letter-spacing: 0.011rem;
}

h4 {
  margin: 0;
  padding-bottom: 1.00038rem;
  color: #a3a3a3;
  font-weight: normal;
  font-size: 16px;
  border-bottom: 0.13rem solid #d4d4d4;
}

h5 {
  margin-top: 0;
  margin-bottom: 1.3335rem;
  font-weight: bold;
  font-size: 16px;
  color: #293241;
}

@media screen and (min-width: 520px) {
  h2 {
    letter-spacing: 0.033rem;
    font-size: 2.12rem;
  }
  h3 {
    font-size: 1.15rem;
  }
  h4,
  h5 {
    font-size: 18px;
  }
}

@media screen and (min-width: 1100px) {
  h1 {
    letter-spacing: 0.16rem;
    font-size: 6.21vw;
  }
  h2 {
    letter-spacing: 0.11rem;
  }
}

@media screen and (min-width: 1800px) {
  h1 {
    font-size: 5.798rem;
  }
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 4.0005rem;
}

header form {
  margin-top: 2.667rem;
}

header input,
header button {
  font-size: 16px;
  font-family: "PT Sans";
  letter-spacing: 0.6px;
  line-height: 1;
}

header input {
  max-width: 320px;
  width: calc(100% - 2.667rem + 6px);
  color: #a3a3a3;
  padding: 1.00038rem;
  border: 0.13rem solid #d4d4d4;
  border-radius: 10px;
}

header input::-webkit-input-placeholder {
  color: #a3a3a3;
}

header input:-ms-input-placeholder {
  color: #a3a3a3;
}

header input::-ms-input-placeholder {
  color: #a3a3a3;
}

header input::placeholder {
  color: #a3a3a3;
}

header button {
  margin-left: 1.00038rem;
  margin-top: 1.00038rem;
  padding: 0;
  color: #ee6c4d;
  border: none;
  background-color: unset;
}

header img {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  width: 100%;
  max-width: 538px;
  margin-top: 2.667rem;
}

@media screen and (min-width: 520px) {
  header input,
  header button {
    font-size: 1.15rem;
    font-family: "PT Sans";
    letter-spacing: 0.6px;
    line-height: 1;
  }
}

@media screen and (min-width: 1100px) {
  header {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: auto 39%;
        grid-template-columns: auto 39%;
    margin-top: 5.334rem;
  }
  header form {
    margin-top: 7.2009rem;
  }
  header img {
    height: 100%;
    max-width: unset;
    margin-top: 0;
  }
}

section {
  margin-top: 2.667rem;
}

section img {
  max-height: 33.333rem;
  margin-top: 2.667rem;
}

section .chart-wrapper {
  text-align: center;
  margin-top: 1.3335rem;
}

section .chart-wrapper img {
  margin: 0;
}

@media screen and (min-width: 1100px) {
  section {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    -webkit-column-gap: 2.667rem;
            column-gap: 2.667rem;
    margin-top: 8.001rem;
    grid-gap: 2.667rem;
  }
  section .circle-wrapper {
    text-align: center;
    margin-top: 0;
  }
  section .l-img {
    -ms-grid-column-align: center;
        justify-self: center;
    height: 100%;
  }
  section .r-img {
    -ms-flex-item-align: end;
        -ms-grid-row-align: end;
        align-self: end;
    width: 100%;
  }
  section img {
    margin-top: 0;
  }
  section .reverse {
    -ms-grid-column: 1;
        grid-column-start: 1;
    -ms-grid-row: 1;
        grid-row-start: 1;
  }
}

.three-col {
  text-align: center;
}

.three-col .circle {
  margin: 2.667rem auto 1.3335rem auto;
  padding: 1.3335rem;
  border: 0.13rem solid #d4d4d4;
  border-radius: 100%;
  width: 3.334rem;
  height: 3.334rem;
}

.three-col img {
  margin: auto;
}

@media screen and (min-width: 520px) {
  .three-col .circle-wrapper {
    text-align: left;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: auto auto;
        grid-template-columns: auto auto;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-column-gap: 1.3335rem;
            column-gap: 1.3335rem;
    margin-top: 2.667rem;
  }
  .three-col .circle-wrapper .circle {
    -ms-grid-column-align: center;
        justify-self: center;
    margin: 0;
  }
}

@media screen and (min-width: 1100px) {
  .three-col {
    -ms-grid-columns: (auto)[3];
        grid-template-columns: repeat(3, auto);
  }
  .three-col .circle-wrapper {
    display: block;
    margin-top: 0;
    text-align: center;
  }
  .three-col .circle-wrapper .circle {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1.3335rem;
  }
}

table {
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 3;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2.667rem;
  border-collapse: collapse;
  line-height: 1;
}

table th,
table td {
  padding: 1.00038rem;
  text-align: right;
  border-right: 0.13rem solid #d4d4d4;
}

table th:nth-child(even),
table td:nth-child(even) {
  text-align: left;
  border-right: unset;
}

table th {
  color: #ee6c4d;
  font-weight: normal;
}

table td {
  border-top: 0.13rem solid #d4d4d4;
  color: #a3a3a3;
}

table td:nth-child(even) {
  color: #293241;
}

.short-table {
  margin-top: 2.00075rem;
}

.short-table th {
  padding-top: 0;
}

footer {
  margin-top: 2.667rem;
  margin-left: -1.3335rem;
  margin-right: -1.3335rem;
  padding: 1.3335rem 1.3335rem;
  border-top: 0.13rem solid #d4d4d4;
  color: #a3a3a3;
}

footer label {
  float: right;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
}

footer label .arrow {
  width: 16px;
  margin-right: 0.50019rem;
}

footer label a {
  color: #a3a3a3;
}

@media screen and (min-width: 520px) {
  footer {
    margin-left: -2.667rem;
    margin-right: -2.667rem;
    padding: 1.3335rem 2.667rem;
  }
}
/*# sourceMappingURL=main.css.map */