@font-face {
  font-family: "PT Sans";
  font-display: auto;
  src: url("./fonts/PTS55F.ttf");
  font-weight: normal;
}

@font-face {
  font-family: "PT Sans";
  font-display: auto;
  src: url("./fonts/PTS75F.ttf");
  font-weight: bold;
}
