@import "./fonts";
@import "./color";

$root_font-size: 18px;
$font-size_h1: 6.21vw;
$font-size_h2: 2.12rem;
$font-size_h3: 1.15rem;

$big_margin: 2.667rem;
$normal_margin: $big_margin / 2;
$small_margin: $big_margin / 2.666;
$smaller_margin: $small_margin / 2;
$border: 0.14rem solid $l_gray;
$border-radius: 10px;

html {
  font-size: $root_font-size;
  font-family: "PT Sans";
  color: $black;
}
body {
  margin: 0 $big_margin;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: -$big_margin;
  margin-right: -$big_margin;
  padding: $normal_margin $big_margin;
  border-bottom: $border;
  .logo {
    display: flex;
    align-items: center;
    img {
      margin-left: -0.38rem;
      width: 2.667rem;
    }
    span {
      margin-left: $small_margin;
    }
  }
  ul {
    display: flex;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;
    li {
      margin-left: $normal_margin;
    }
    .hero {
      padding: $smaller_margin $small_margin;
      border: $border;
      border-radius: $border-radius;
      display: flex;
      align-self: center;
      img {
        margin-right: $small_margin;
        width: 1.3rem;
      }
    }
  }
}

a {
  color: $black;
  text-decoration: none;
  &:hover {
    color: $main;
  }
}

p {
  line-height: 1.9;
  max-width: 32.1rem;
  margin-top: 0;
  margin-bottom: $small_margin;
  &:last-child {
    margin-bottom: 0;
  }
}

h1 {
  margin-top: -$normal_margin;
  margin-bottom: 0;
  font-size: $font-size_h1;
  line-height: 1.15;
  letter-spacing: 0.16rem;
}
h2 {
  margin: $big_margin 0;
  font-size: $font-size_h2;
  letter-spacing: 0.11rem;
}
h3 {
  color: $gray;
  font-weight: normal;
  margin-top: 39px;
  margin-bottom: 0;
  line-height: 1.7;
  font-size: $font-size_h3;
  letter-spacing: 0.033rem;
}
h4 {
  margin: 0;
  padding-bottom: $small_margin;
  color: $gray;
  font-weight: normal;
  font-size: $root_font-size;
  border-bottom: $border;
}
h5 {
  margin-top: 0;
  margin-bottom: $normal_margin;
  font-weight: bold;
  font-size: $root_font-size;
  color: $black;
}

header {
  display: grid;
  grid-template-columns: auto 39%;
  margin-top: $big_margin * 3;
  form {
    margin-top: $big_margin * 2.7;
  }
  input,
  button {
    font-size: $font-size_h3;
    font-family: "PT Sans";
    letter-spacing: 0.6px;
    line-height: 1;
  }
  input {
    min-width: 249px;
    color: $gray;
    padding: $small_margin;
    border: $border;
    border-radius: $border-radius;
    &::placeholder {
      color: $gray;
    }
  }
  button {
    padding-left: $small_margin;
    color: $main;
    border: none;
    background-color: unset;
  }
  img {
    justify-self: end;
    align-self: center;
    height: 100%;
  }
}

section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: $big_margin * 3;
  column-gap: $big_margin;
  row-gap: $big_margin;
  img {
    max-height: 33.333rem;
  }
  .l-img {
    justify-self: center;
    height: 100%;
  }
  .r-img {
    align-self: end;
    width: 100%;
  }
}

.three-col {
  display: grid;
  grid-template-columns: auto auto auto;
  column-gap: $big_margin;
  text-align: center;
  .circle {
    margin: 0 auto $normal_margin auto;
    padding: $normal_margin;
    border: $border;
    border-radius: 100%;
    width: 3.334rem;
    height: 3.334rem;
  }
  img {
    margin: auto;
  }
}

table {
  border-collapse: collapse;
  line-height: 1;
  th,
  td {
    padding: $small_margin;
    text-align: right;
    border-right: $border;
    &:nth-child(even) {
      text-align: left;
      border-right: unset;
    }
  }
  th {
    color: $main;
    font-weight: normal;
  }
  td {
    border-top: $border;
    color: $gray;
    &:nth-child(even) {
      color: $black;
    }
  }
}
.short-table {
  margin-top: $small_margin * 2;
  th {
    padding-top: 0;
  }
}

footer {
  margin-top: $big_margin * 3;
  margin-left: -$big_margin;
  margin-right: -$big_margin;
  padding: $normal_margin $big_margin;
  border-top: $border;
  color: $gray;
  label {
    float: right;
    display: flex;
    align-content: center;
    .arrow {
      width: $root_font-size;
      margin-right: $smaller_margin;
    }
    button {
      color: $gray;
      font-size: $root_font-size;
      border: unset;
      background-color: unset;
    }
  }
}
