@import "./fonts";
@import "./color";

$root_font-size: 16px;
$root_font-size_media_small: 18px;
$font-size_h1: 7.9vw;
$font-size_h1_media_normal: 6.21vw;
$font-size_h1_media_big: 5.798rem;
$font-size_h2: 7.33vw;
$font-size_h2_media_small: 2.12rem;
$font-size_h3_media_small: 1.15rem;
$font-size_h3: $root_font-size;

$big_margin: 2.667rem;
$normal_margin: $big_margin / 2;
$small_margin: $big_margin / 2.666;
$smaller_margin: $small_margin / 2;
$border: 0.13rem solid $l_gray;
$border-radius: 10px;

$media_min-width_small: 520px;
$media_min-width_normal: 1100px;
$media_min-width_big: 1800px;

html {
  font-size: $root_font-size;
  font-family: "PT Sans";
  color: $black;
  @media screen and (min-width: $media_min-width_small) {
    font-size: $root_font-size_media_small;
  }
}
body {
  margin: 0 auto;
  padding: 0 $normal_margin;
  max-width: $media_min-width_big;
  @media screen and (min-width: $media_min-width_small) {
    padding: 0 $big_margin;
  }
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: -$normal_margin;
  margin-right: -$normal_margin;
  padding: $normal_margin $normal_margin;
  border-bottom: $border;
  .logo {
    display: flex;
    align-items: center;
    img {
      margin-left: -0.38rem;
      width: 2.667rem;
    }
    span {
      margin-left: $small_margin;
    }
  }
  ul {
    display: flex;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;
    li {
      display: none;
      margin-left: $normal_margin;
    }
    .hero {
      display: unset;
      padding: $smaller_margin $small_margin;
      border: $border;
      border-radius: $border-radius;
      display: flex;
      align-self: center;
      img {
        margin-right: $small_margin;
        width: 1.3rem;
      }
    }
  }
  @media screen and (min-width: $media_min-width_small) {
    & {
      margin-left: -$big_margin;
      margin-right: -$big_margin;
      padding: $normal_margin $big_margin;
    }
  }
  @media screen and (min-width: $media_min-width_normal) {
    ul {
      li {
        display: unset;
      }
    }
  }
}

a {
  color: $black;
  text-decoration: none;
  &:hover {
    color: $main;
  }
}

p {
  line-height: 1.9;
  max-width: 32.1rem;
  margin-top: 0;
  margin-bottom: $small_margin;
  &:last-child {
    margin-bottom: 0;
  }
}

h1 {
  margin-top: -$normal_margin;
  margin-bottom: 0;
  font-size: $font-size_h1;
  line-height: 1.15;
  letter-spacing: 0.05rem;
}
h2 {
  margin: $normal_margin 0;
  font-size: $font-size_h2;
  letter-spacing: 0.06rem;
}
h3 {
  max-width: 464px;
  color: $gray;
  font-weight: normal;
  margin-top: 39px;
  margin-bottom: 0;
  line-height: 1.7;
  font-size: $font-size_h3;
  letter-spacing: 0.011rem;
}
h4 {
  margin: 0;
  padding-bottom: $small_margin;
  color: $gray;
  font-weight: normal;
  font-size: $root_font-size;
  border-bottom: $border;
}
h5 {
  margin-top: 0;
  margin-bottom: $normal_margin;
  font-weight: bold;
  font-size: $root_font-size;
  color: $black;
}

@media screen and (min-width: $media_min-width_small) {
  h2 {
    letter-spacing: 0.033rem;
    font-size: $font-size_h2_media_small;
  }
  h3 {
    font-size: $font-size_h3_media_small;
  }
  h4,
  h5 {
    font-size: $root_font-size_media_small;
  }
}
@media screen and (min-width: $media_min-width_normal) {
  h1 {
    letter-spacing: 0.16rem;
    font-size: $font-size_h1_media_normal;
  }
  h2 {
    letter-spacing: 0.11rem;
  }
}
@media screen and (min-width: $media_min-width_big) {
  h1 {
    font-size: $font-size_h1_media_big;
  }
}

header {
  display: flex;
  flex-direction: column;
  margin-top: $normal_margin * 3;
  form {
    margin-top: $normal_margin * 2;
  }
  input,
  button {
    font-size: $font-size_h3;
    font-family: "PT Sans";
    letter-spacing: 0.6px;
    line-height: 1;
  }
  input {
    max-width: 320px;
    width: calc(100% - #{$normal_margin * 2} + 6px);
    color: $gray;
    padding: $small_margin;
    border: $border;
    border-radius: $border-radius;
    &::placeholder {
      color: $gray;
    }
  }
  button {
    margin-left: $small_margin;
    margin-top: $small_margin;
    padding: 0;
    color: $main;
    border: none;
    background-color: unset;
  }
  img {
    align-self: center;
    width: 100%;
    max-width: 538px;
    margin-top: $normal_margin * 2;
  }
  @media screen and (min-width: $media_min-width_small) {
    & {
      input,
      button {
        font-size: $font-size_h3_media_small;
        font-family: "PT Sans";
        letter-spacing: 0.6px;
        line-height: 1;
      }
    }
  }
  @media screen and (min-width: $media_min-width_normal) {
    & {
      display: grid;
      grid-template-columns: auto 39%;
      margin-top: $big_margin * 2;
      form {
        margin-top: $big_margin * 2.7;
      }
      img {
        height: 100%;
        max-width: unset;
        margin-top: 0;
      }
    }
  }
}

section {
  margin-top: $normal_margin * 2;
  img {
    max-height: 33.333rem;
    margin-top: $normal_margin * 2;
  }
  .chart-wrapper {
    text-align: center;
    margin-top: $normal_margin;
    img {
      margin: 0;
    }
  }
}
@media screen and (min-width: $media_min-width_normal) {
  section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: $big_margin;
    margin-top: $big_margin * 3;
    grid-gap: $big_margin;
    .circle-wrapper {
      text-align: center;
      margin-top: 0;
    }
    .l-img {
      justify-self: center;
      height: 100%;
    }
    .r-img {
      align-self: end;
      width: 100%;
    }
    img {
      margin-top: 0;
    }
    .reverse {
      grid-column-start: 1;
      grid-row-start: 1;
    }
  }
}

.three-col {
  text-align: center;
  .circle {
    margin: $normal_margin * 2 auto $normal_margin auto;
    padding: $normal_margin;
    border: $border;
    border-radius: 100%;
    width: 3.334rem;
    height: 3.334rem;
  }
  img {
    margin: auto;
  }
  @media screen and (min-width: $media_min-width_small) {
    & {
      .circle-wrapper {
        text-align: left;
        display: grid;
        grid-template-columns: auto auto;
        align-items: center;
        column-gap: $normal_margin;
        margin-top: $normal_margin * 2;
        .circle {
          justify-self: center;
          margin: 0;
        }
      }
    }
  }
  @media screen and (min-width: $media_min-width_normal) {
    & {
      grid-template-columns: repeat(3, auto);
      .circle-wrapper {
        display: block;
        margin-top: 0;
        text-align: center;
        .circle {
          margin-left: auto;
          margin-right: auto;
          margin-bottom: $normal_margin;
        }
      }
    }
  }
}

table {
  grid-column-start: 1;
  grid-column-end: 3;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  border-collapse: collapse;
  line-height: 1;
  th,
  td {
    padding: $small_margin;
    text-align: right;
    border-right: $border;
    &:nth-child(even) {
      text-align: left;
      border-right: unset;
    }
  }
  th {
    color: $main;
    font-weight: normal;
  }
  td {
    border-top: $border;
    color: $gray;
    &:nth-child(even) {
      color: $black;
    }
  }
}
.short-table {
  th {
    padding-top: 0;
  }
}

footer {
  margin-top: $normal_margin * 2;
  margin-left: -$normal_margin;
  margin-right: -$normal_margin;
  padding: $normal_margin $normal_margin;
  border-top: $border;
  color: $gray;
  label {
    float: right;
    display: flex;
    align-content: center;
    .arrow {
      width: $root_font-size;
      margin-right: $smaller_margin;
    }
    a {
      color: $gray;
    }
  }
  @media screen and (min-width: $media_min-width_small) {
    & {
      margin-left: -$big_margin;
      margin-right: -$big_margin;
      padding: $normal_margin $big_margin;
    }
  }
}
